canvas{
    display: block;
    margin: 0 auto;
    
}

.snake{
    background-color: green;
    transition: background-color .5s;
}

.btnAg{
    height: 60px;
    width: 210px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 36px;
}


